.gallery-wrap {
  background-color: #0D4270;
  margin-left: -5vw;
  margin-right: -5vw;
  padding-bottom: 2rem;
  padding-top: 0;
}

.gallery-counter {
  width: 200px;
  position: relative;
  top: 2%;
  left: 10vw;
  z-index: 1;
  mix-blend-mode:hard-light;
  line-height: 16px;
  color: #D5EDF2;

  font-family: "Bai Jamjuree";
  font-weight: 600;

  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;

  .divider {
    content: "";
    background-color: #D5EDF2;
    width: 6.25vw;
    margin: 7px 10px;
    height: 1px;
    display: inline-block;
  }
}

.gallery {
  height: 80vh;

  padding: 10vh 0;
  width: 550%;
  padding-right: 10vh;
  display: flex;
  flex-wrap: nowrap;

  .gallery-item {
    width: 100%;
    height: 90%;
    position: relative;
    will-change: transform;
  }

  .gallery-item-info {
    position: absolute;
    bottom: 10%;
    z-index: 1;
    transform: translateX(-20%);
    color: #D5EDF2;
    .gallery-info-title {
      line-height: 6vh;
      font-family: "Bai Jamjuree";
      font-weight: 700;
      font-size: 8vh;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 2rem;
    }

    .gallery-info-subtitle {
      position: relative;
      line-height: 6vh;
      color: transparent;
      font-family: "Bai Jamjuree";
      font-weight: 400;
      font-size: 6vh;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke: 2px #D5EDF2;
    }

    .gallery-info-category {
      position: relative;
      line-height: 1.5rem;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 1.25rem;
      -webkit-font-smoothing: antialiased;
      margin-top: 2vh;
    }
  }
  .gallery-item-wraper {
    aspect-ratio: 16/9;
    height: 80%;
    display: grid;
    grid-template-columns: 20vw 1fr 200px;
    width: 90vw;

    &.is-reveal {
      .gallery-item-image {
        transform: scale(1);
        filter: brightness(60%);
      }
    }
  }
  .gallery-item-image {
    background-size: cover;
    background-position: center;
    transform-origin: center;
    width: 70vw;
    height: 80vh;
    will-change: transform;
    transform: scale(0.7);
    transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);
 filter: grayscale(100%) sepia(20%) brightness(80%);
  }
}