.about-section {
.about-info{
  display: flex;
  align-items: center;
  justify-content: center;
  p {
width: 50vw;
text-align: justify;
    font-size: 1.5rem;
    line-height: 1.5;
    opacity: 0;
margin-right: 2rem;
    > div {
      opacity: 0;
      transform: translateY(10px);
    }
    &.is-reveal {
      opacity: 1;
    }
  }
  .image-about{
    width: 40vw;
    height: 60vh;
    background-image: url(../../assets/team.jpg);
    background-size: cover; /* Imagen */
    background-repeat: no-repeat;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 16px;
    user-select: none;
    }
    .image-about:after {
      content: "";
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: rgba(0, 0, 0, 0.24);
      width: 100%;
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 8px;
      left: 8px;
      transition: 0.2s;
    }
    .image-about:hover:after {
      top: 0px;
      left: 0px;
    }
}
}