.about-section {
.about-info{
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3vw;
  p {
width: 50vw;
text-align: justify;
    font-size: 1.5rem;
    line-height: 1.5;
    opacity: 0;
margin-right: 2rem;
    > div {
      opacity: 0;
      transform: translateY(10px);
    }
    &.is-reveal {
      opacity: 1;
    }
  }
  .about-image-container{
    margin-top: -20vw;
    position: relative;
    width: 40vw;
    height: 50vh;



  .image-about{
    width: 500px;
    height: 500px;
    clip-path: polygon(49% 6%, 93% 26%, 92% 72%, 49% 93%, 5% 72%, 6% 26%);
    background-image: url(../../assets/team.jpg);
    background-size: cover; /* Imagen */
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 16px;
    z-index: 2;
    }
    .form-about{
      width:200px;
      height: 250px;
      clip-path: polygon(49% 6%, 93% 26%, 92% 72%, 49% 93%, 5% 72%, 6% 26%);
      background-image: url(../../assets/molino.jpg);
      background-size: cover; /* Imagen */
      background-repeat: no-repeat;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      user-select: none;
      z-index: 3;
      position: absolute;
      top: 300px;
      left: -60px;
    }
  }
}
}
.about-text{
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vw;
}

@media (max-width: 600px) {
  .about-section {
    .about-info{
      width: 100%;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -1rem;
  p {
    width: 80vw;
    text-align: justify;
        font-size: 1rem;
        line-height: 1.2;
        opacity: 0;
    margin-right: 1rem;
        > div {
          opacity: 0;
          transform: translateY(10px);
        }
        &.is-reveal {
          opacity: 1;
        }
      }
      .about-image-container{
        margin-top: 0;
      position: relative;
      width: 400px;
      height: 400px;
      margin-left: 4rem;
    margin-right: -6rem;
    margin-bottom: -5rem;
    .image-about{
      width: 300px;
      height: 300px;
    }
    .form-about{
      width:100px;
      height: 125px;
      top: 150px;
      left: -20px;
    }
      }
    }


    }
}