.solution-section {
  .solution-info{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    p {
  width: 50vw;
  text-align: justify;
      font-size: 1.5rem;
      line-height: 1.5;
      opacity: 0;
  margin-left: 3rem;
      > div {
        opacity: 0;
        transform: translateY(10px);
      }
      &.is-reveal {
        opacity: 1;
      }
    }
    .image-solution{
      width: 600px;
      height: 500px;
      clip-path: polygon(49% 6%, 93% 26%, 92% 72%, 49% 93%, 5% 72%, 6% 26%);
      transform: rotate(15deg);
      background-image: url(../../assets/solutions.jpg);
      background-size: cover; /* Imagen */
      background-repeat: no-repeat;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      user-select: none;
      }

    .image-form{

      width:180px;
      height: 200px;
      clip-path: polygon(49% 6%, 93% 26%, 92% 72%, 49% 93%, 5% 72%, 6% 26%);
      transform: rotate(15deg);
      background-color: #0d427089;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      user-select: none;
      z-index: 1;
        position: absolute;
        top: 50px;
        left: 50px;

      }
      .contenedor-imagen-solucion {
        position: relative;
        width: 40vw;
        height: 50vh;
      }
}
}
.solution-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}