.navbar {
    display: flex;
    justify-content:space-between;
    margin-right: 1rem;
    margin-left: 2rem;
    padding: 0;
    font-size: 1rem;
margin-bottom: -3rem;
    letter-spacing: 1px;
    font-family: "Syncopate", sans-serif;
    color: #0D4270;
    font-weight: 600;
    text-transform: uppercase;
  }

  .button-nav{
   margin-top: -2.5rem;
}