.navbar {
    display: flex;
    justify-content:space-between;
    margin-right: 1rem;
    margin-left: 3rem;
    padding: 0;
    font-size: 1rem;
margin-bottom: -3rem;
    letter-spacing: 1px;
    font-family: "Syncopate", sans-serif;
    font-weight: 600;
    text-transform: uppercase;

  }

  .button-nav{
   margin-top: -2.5rem;
}
.logo-tms{
    width: auto;
    height: 70px;
    margin-top: -2rem;
}
.red-social-icon{
    cursor: pointer;
    margin-right: 2rem;
    margin-top: 1rem;
}



@media (max-width: 600px) {
    /* Estilos específicos para pantallas pequeñas */
.navbar{
    width: 100vw;
margin-left: 0;
margin-right: 0;
margin-top: -1rem;
    height: 80px;
    background: rgba(255, 255, 255, 0.29);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.logo-tms{
    width: auto;
    height: 50px;
    margin-left: 1rem;
    margin-top: 1rem;
}
.red-social-icon{
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}
.button-nav{
    margin-right: 1rem;
    margin-top: 0.3rem;
  }
  }