.section-header{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Bai Jamjuree', sans-serif;
    color:#0D4270;
    font-size: 2rem;
    max-width: 100%;
    margin-left: 3rem;
    margin-right:1rem ;
}